.itemContainer{
    display: flex;
    padding: 10px;
    margin-top: 50px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 10px;
}


.imageContainer{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.image{
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.nameContainer{
    margin-left: 60px;
}

.name{
    font-size: larger;
    font-weight: bold;
}

.amount{
    font-weight: bold;
    margin-top: 10px;
}
